/*=================================================================================
                             1024
  ================================================================================*/
@media (max-width: 1024px) {
}

/*=================================================================================
                                   991
================================================================================*/

@media (max-width: 991px) {
  .col,
  .scol {
    width: calc(50% - 20px);
    margin: 12px 0px;
  }
}

/*=================================================================================
                                   767
 ================================================================================*/

@media (max-width: 767px) {
  header {
    display: block;
    padding: 10px 0px;
  }
  header::after {
    height: 30%;
  }
  .left {
    display: flex;

    justify-content: space-between;
  }
  .col,
  .scol {
    width: calc(50% - 30px);
    margin: 15px;
  }
}
/*================================================================================
                               530                                                   
  ================================================================================*/

@media (max-width: 530px) {
  .col,
  .scol {
    width: calc(100% - 20px);
    margin: 15px 0;
  }
  .scol {
    margin: 10px 0;
  }
  .container {
    padding: 0px 20px;
  }
}

/*=================================================================================
                                   330
================================================================================*/
@media (max-width: 400px) {
  header,
  .OverView {
    display: block;
    padding: 10px 10px;
  }
  .container {
    width: 100%;

    padding: 0px 10px;
  }
  .col,
  .scol {
    width: calc(100% - 20px);
    margin-top: 10px;
  }
  /* .scol {
    margin-top: 10px;
  } */
  .heading {
    font-size: 23px;
  }
  .left {
    display: flex;

    justify-content: space-between;
  }
}
@media (max-width: 350px) {
  header {
    display: block;
    padding: 0;
  }
  .container {
    width: 100%;

    padding: 0px 10px;
  }
  .col,
  .scol {
    width: calc(100% - 20px);
  }
  .heading {
    text-align: center;
  }
  .right {
    text-align: center;
  }
}
