/*=================================================================================
                             1024
  ================================================================================*/
@media (max-width: 1024px) {
}

/*=================================================================================
                                   991
================================================================================*/

@media (max-width: 991px) {
}

/*=================================================================================
                                   767
 ================================================================================*/

@media (max-width: 767px) {
  header {
    display: block;
    padding: 10px 20px;
  }
  .left {
    display: flex;

    justify-content: space-between;
  }
}
/*================================================================================
                               530                                                   
  ================================================================================*/

@media (max-width: 530px) {
}

/*=================================================================================
                                   330
================================================================================*/
@media (max-width: 400px) {
  header {
    display: block;
    padding: 10px 20px;
  }
  .container {
    width: 100%;

    padding: 0px 10px;
  }
  .col,
  .scol {
    width: 310px;
  }
  .heading {
    font-size: 25px;
  }
  .left {
    display: flex;

    justify-content: space-between;
  }
}
